.idea
logs
*.log
.env
docker-compose.yml
config/jellyfin/cache
config/jackett/Jackett/log.txt
config/jellyseerr/logs
config/qbittorrent/qBittorrent/logs
config/radarr/logs
config/radarr/Backups
config/sonarr/logs
config/sonarr/Backups
config/chinesesubfinder/cache
config/chinesesubfinder/Logs